<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab2">BACK</ion-button>
    </ion-buttons>
    <ion-title>AmongUs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <h5><strong>Logros Among Us</strong></h5>
    <ion-list>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Detective Supremo – Descubre a 10 impostores correctamente.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Asesino Sigiloso – Gana una partida como impostor sin ser descubierto.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Mecánico Experto – Completa todas las tareas en 10 partidas.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Maestro del Engaño – Logra que expulsen a un tripulante siendo tú el impostor.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Superviviente Nato – Sobrevive 5 partidas seguidas como tripulante.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Botón Rojo – Convoca 10 reuniones de emergencia.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Escape Perfecto – Usa las ventilaciones 5 veces en una partida sin ser visto.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Líder del Grupo – Logra que tu equipo vote correctamente 3 veces seguidas.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Expulsión Injusta – Ser expulsado sin ser el impostor.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Maestro del Universo – Gana 100 partidas en total.</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
