<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab2">BACK</ion-button>
    </ion-buttons>
    <ion-title>LaFlipanteFiestaDeMario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <h5><strong>Logros Mario Party</strong></h5>
    <ion-list>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Doble Seis – Saca dos veces seguidas un 6 con el dado.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Rey de las Estrellas – Consigue 3 estrellas en una partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Minijuego Maestro – Gana 5 minijuegos seguidos.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Saboteador – Roba una estrella a otro jugador.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Rico y Poderoso – Acumula más de 100 monedas en una partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Rey del Casino – Gana un minijuego de azar con la menor probabilidad.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>El Invencible – Gana una partida sin perder ningún minijuego.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Caos Total – Activa 3 trampas en una sola partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Revancha Épica – Gana una partida después de estar último la mayor parte del tiempo.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Fiestero Supremo – Juega 500 partidas en total.</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
