<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab2">BACK</ion-button>
    </ion-buttons>
    <ion-title>FutbolDeCarros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <h5><strong>Logros Rocket League</strong></h5>
    <ion-list>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Goleador – Marca 10 goles en total.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Turbo Total – Usa 100% del turbo en una sola partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Muralla Humana – Bloquea 5 tiros en una partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Victoria Épica – Gana un partido en tiempo extra.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Pase Perfecto – Da 3 asistencias en una partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Velocidad Máxima – Alcanza la velocidad máxima y mantente así por 3 segundos.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Golazo Aéreo – Marca un gol en el aire.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Demolición Total – Destruye 3 autos en una partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Racha Ganadora – Gana 5 partidos seguidos.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Leyenda del Asfalto – Juega 500 partidos en total.</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
