<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SoloBaila</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <h5><strong>Logros Just Dance</strong></h5>
    <ion-list>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Calentamiento – Completa tu primera canción.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Ritmo Impecable – Logra 10 movimientos "Perfecto" seguidos.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Rey del Baile – Consigue 5 estrellas en una canción difícil.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Doble Estilo – Juega con dos estilos diferentes en una canción.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Sin Sudar – Juega 10 canciones sin fallar ninguna.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Bailarín de Oro – Alcanza el rango de Oro en cualquier canción.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Coreógrafo – Crea y guarda tu propia rutina de baile.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Maratón de Baile – Juega 10 canciones seguidas sin descanso.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Duelo de Baile – Gana una batalla de puntajes contra otro jugador.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Leyenda del Ritmo – Juega 500 canciones en total.</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
