<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ selectedGame ? selectedGame.title : 'Mis Logros' }}</ion-title>
    <ion-buttons slot="start" *ngIf="selectedGame">
      <ion-button (click)="selectedGame = null">⬅ Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="!selectedGame">
    <ion-card *ngFor="let game of myGames" (click)="viewGame(game)">
      <img [src]="game.image" alt="Imagen del juego" />
      <ion-card-header>
        <ion-card-title>{{ game.title }}</ion-card-title>
        <ion-card-subtitle>Logros de {{ game.title }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Este es tu progreso = {{ logros[game.title]?.length || 0 }}/100</p>
        <p>¡Sigue así!</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- Vista de detalles del juego -->
  <div *ngIf="selectedGame">
    <ion-list>
      <ion-item *ngFor="let logro of logros[selectedGame.title]">
        <ion-label>{{ logro }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="gameService.addLogro(selectedGame.title, 'Nuevo Logro')" [color]="selectedGame.color">
      Agregar Logro
    </ion-button>
  </div>
</ion-content>
