<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Logros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let game of myGames">
      <img [src]="game.image" alt="Imagen del juego" />
      <ion-card-header>
        <ion-card-title>{{ game.title }}</ion-card-title>
        <ion-card-subtitle>Logros de {{ game.title }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Este es tu progreso = {{ logros[game.title]?.length || 0 }}/10</p>
        <p>¡Sigue así!</p>
        <ion-button (click)="gameService.addLogro(game.title, 'Nuevo Logro')">Agregar Logro</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
