<ion-header>
  <ion-toolbar>
    <ion-title>Explorador de Juegos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchText" placeholder="Buscar juegos..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <!-- 🔹 Sección de Juegos Seleccionados -->
    <ion-slide>
      <h2>Juegos seleccionados</h2>
      <ion-list *ngIf="myGames.length > 0; else emptyList">
        <ion-item *ngFor="let game of myGames">
          <ion-thumbnail slot="start">
            <img [src]="game.image" />
          </ion-thumbnail>
          <ion-label>{{ game.title }}</ion-label>
          <ion-button color="danger" (click)="removeFromMyGames(game)">Eliminar</ion-button>
        </ion-item>
      </ion-list>
      <ng-template #emptyList>
        <p>No se encuentran juegos.</p>
      </ng-template>
    </ion-slide>
    
    <!-- 🔹 Sección de Juegos Disponibles -->
    <ion-slide>
      <h2>Juegos que detectamos en tu librería</h2>
      <ion-list *ngIf="filteredGames.length > 0">
        <ion-item *ngFor="let game of filteredGames">
          <ion-thumbnail slot="start">
            <img [src]="game.image" />
          </ion-thumbnail>
          <ion-label>{{ game.title }}</ion-label>
          <ion-button (click)="addToMyGames(game)">Agregar</ion-button>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <!-- 🔹 Cookie flotante -->
  <div class="cookie-popup" *ngIf="showCookies">
    <p>Esta aplicacion accede a los datos de tu celular para detectar juegos en tu librería.</p>
    <ion-button (click)="acceptCookies()">Aceptar</ion-button>
  </div>
</ion-content>
