<ion-header>
  <ion-toolbar>
    <ion-title>Explorador de Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <h1 class="h1">Tus juegos</h1>
    <ion-row>
      <ion-col size="6" *ngFor="let game of games">
        <ion-card class="card">

          <img [src]="game.image" class="imagencard" />
          <ion-card-header>
            <ion-card-title>{{ game.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ game.description }}</p>
            <ion-button color="success" (click)="addAchievement(game)">
              <ion-icon name="checkmark-circle"></ion-icon> Agregar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-title>🏆 Logros Desbloqueados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let achievement of achievements">
          <ion-label>{{ achievement }}</ion-label>
          <ion-button color="warning" (click)="markAsAdded(achievement)"
            [disabled]="addedAchievements.includes(achievement)">
            <ion-icon *ngIf="!addedAchievements.includes(achievement)" name="add-circle"></ion-icon>
            <ion-icon *ngIf="addedAchievements.includes(achievement)" name="checkmark-circle"></ion-icon>
            {{ addedAchievements.includes(achievement) ? 'Agregado' : 'Añadir' }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>