<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fortnite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
  <h5><strong>Logros básicos</strong></h5>
  <ion-list>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Primer Paso – Juega tu primera partida en cualquier modo.</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Victoria Royale – Gana una partida en Solitario, Dúos o Escuadrones.</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Cazador de Eliminaciones – Consigue 10 eliminaciones en total.</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Construcción Exprés – Construye 100 estructuras en una sola partida.</ion-label>
    </ion-item>
    <h5><strong>Logros avanzados</strong> </h5>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Superviviente Nato – Llega al Top 10 en 5 partidas.</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Maestro del Botín – Abre 50 cofres en total.</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Aterrizaje Perfecto – Aterriza en 10 ubicaciones distintas del mapa.</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Arsenal Completo – Usa cada tipo de arma en una partida.</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Desafío Extremo – Completa todas las misiones de una semana.</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Leyenda de la Isla – Juega 500 partidas en total.</ion-label>
    </ion-item>
  </ion-list>
</ion-grid>
</ion-content>
