<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CarlosDuty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <h5><strong>Logros Call of Duty</strong></h5>
    <ion-list>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Tirador Preciso – Consigue 10 disparos a la cabeza en una partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Experto en Explosivos – Elimina a 5 enemigos con granadas en una partida.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Superviviente – Gana una partida sin morir.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Variedad Letal – Usa 5 tipos de armas diferentes en una partida..</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Corredor Sigiloso – Elimina a 3 enemigos cuerpo a cuerpo sin ser detectado.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Dominio Aéreo – Derriba un UAV enemigo.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Racha de Fuego – Consigue una racha de 10 eliminaciones sin morir.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Campeón de Zona – Captura 5 puntos en una partida de Dominación.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Último Hombre en Pie – Gana una ronda en Battle Royale siendo el último sobreviviente.</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Leyenda de la Guerra – Juega 500 partidas en total.</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
